* {
    font-family: "acumin-pro", sans-serif;
    font-style: normal;
    font-weight: 100;
}

.Header {
    height: 37.5rem;  
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.Lego_bg {
    width: 90rem;
    margin-top: 20rem;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2018/05/10/17/48/lego-3388163_960_720.png);
}

h1.Headline {
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 2.90625rem;
  white-space: nowrap;
}


@media screen and (max-width: 767px) {
    h1.Headline  {
        font-size: 1.8125rem;
    }
  }


/* For iphone: */
@media screen and (max-width : 340px){
    h1.Headline  {
        font-size: 1.6125rem;
    }
} 
