* {
    font-family: "acumin-pro", sans-serif;
    font-style: bold;
    font-weight: 100;
}

.Navbar {
    position: fixed;
    top: 0; 
    width: 100%; 
    background-color: rgb(39, 133, 77);
    height: 5rem;
}

.menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 100%;
    max-width: 90rem;
}

.Logo {
    width: 5rem;
    margin-left: 2rem;
}

.menu_right {
    margin-right: 5rem;
}

.menu_list {
    display: flex;
    align-items: center;
}

.products_button, .contact_button {
    background: rgb(39, 133, 77);
    border: none;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
}
