* {
    font-family: "acumin-pro", sans-serif;
    font-style: normal;
}

.ProductGrid {
    background-color: rgb(56 69 151);
    display: flex;
    justify-content: center;  
    direction: row;
}

.Product_headline h1 {
    display: flex;
    background-color: rgb(56 69 151);
    height: 5rem;
    font-weight: bold;
    margin-left: 1rem;
}

.Product_container {
    background-color: rgb(56 69 151);
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
    object-fit: contain;
    margin: 2.5rem 0 5rem 0;
    
}

.Paper_container {
    display: flex;
     
}

img.Lego_ship, img.Monster_truck {
    border: solid rgb(39 133 77) 0.3rem;
    margin: 1.5rem;
    height: 20rem;
    width: 30rem;
}

div.Picture_container {
    text-align: center;
}

.Price {
    display: block;
    font-size: 2rem;
    color: black
}

.Product_paper {
    background-color: white;
    text-align: center;
    margin: 1rem;
    padding-bottom: 1rem;  
}

@media screen and (max-width: 767px) {
    .Price {
        font-size: 1.125rem;
    }
    img.Lego_ship, img.Monster_truck {
        width: 90%;
        height: 90%;
        margin: 0.5rem;
        margin-top: 1rem;
    }
  }

  /* For iphone: */
@media screen and (max-width : 340px){
    .Price {
        font-size: 0.6875rem;
    }
    img.Lego_ship, img.Monster_truck {
        width: 50%;
        height: 50%;
    }
} 